* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: black;
}

header {
  position: sticky;
  top: 0px;
}

head {
  display: flex;
  width: 100vw;
  align-items: center;
}
#headlist {
  display: flex;
  background-color: white;
  color: var(--Gray-2, #4f4f4f);
  font-size: 17px;
  align-items: center;
  justify-content: end;
  margin: 14px 0px 14px 0px;
}

#start {
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 80px;
  justify-content: start;
  width: 50%;
}

#secStart {
  display: flex;
  align-items: center;
  width: 50%;
}

.headtext {
  margin: 0px 20px 0px 16px;
  cursor: pointer;
}

.svg {
  margin: 0px 0px 0px -22px;
  cursor: pointer;
}
#accio {
  color: #012555;
  font-size: 21.714px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px; /* 175% */
  letter-spacing: -0.869px;
  margin: 0px 3px 0px 3px;
  cursor: pointer;
}

#line {
  width: 1px;
  height: 32px;
  background: #dadada;
  color: #dadada;
}

.arrowbox {
  display: flex;
  color: #4f4f4f;
}

#button1 {
  display: flex;
  padding: 8px 30px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-left: 20px;
  gap: 10px;
  color: blue;
  border-radius: 8px;
  border: 2px solid var(--primaryskyblue, #2f80ed);
  cursor: pointer;
}

#blueLine {
  display: flex;
  color: #ffffff;
  background-color: rgb(46, 129, 237);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%; /* 21px */
  letter-spacing: 0.28px;
  justify-content: center;
  align-items: center;
  height: 4vh;
}

#subhead li:hover a {
  background: rgb(224, 224, 224);
}

#subOption {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: 1;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 12px;
}

li:hover ul#subOption {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

#subOption a:hover {
  background-color: #e4e4e4;
}

.space {
  margin: 5px;
}


#headings{
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 45vh;
  margin-left: 120px;
  width: 50vw;
}

#heading{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  
  font-size: 23px;

}

#subheading{
 font-size: 16px; 
 margin-top: 25px;
}
#features{
  display: flex;
  border: 1px solid rgb(226,227,227);
  background-color: rgb(254,255,254);
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  height: 8vh;

}

#madewithdil{
  margin-top: 30px;
  font-size: 18px;
}
#fullstackdev {
  color: rgb(49, 129, 236);
}

#secdiv{
  display: flex;
  margin-top: 14vh;
  height: 48vh;
  /* border: 2px solid green; */
}

#login{
  border: 2px solid green;
  margin-left: 250px;
  width: 24vw;
  height: 45vh;

   background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
 
}
#learnfree{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 20px;
}

#freehead{
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 10px;
  width: 300px;
}

#form{
  display: flex;
  margin-top: 40px;
  margin-left: 50px;
}

.namepass{
display: flex;
margin: 40px 20px;
 width: 300px;
  height: 40px;
  
}

#name{
  width: 300px;
 
 font-size: 16px;
  height: 40px;
}
#free{
  color: #2f80ed;
}
#button{display: flex;
  padding: 8px 30px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  gap: 10px;
  color: blue;
  border-radius: 8px;
  border: 2px solid var(--primaryskyblue, #2f80ed);
  cursor: pointer;
}

#button {
  flex: 1 1 auto;
  height: 30px;
  margin-left: 50px;
  margin-top: 45px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(43, 42, 42);
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
 }

 #button:hover {
  background-position: right center; /* change the direction of the change here */
}

#button {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

#TandC{
  font-size: 14px;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top:25px;
  margin-left: 30px;
}

#terms{
color: rgb(49, 129, 236);
text-align: center;
margin-left: 85px;
}

@media screen and (max-width: 992px) {
  #headlist {
    display: flex;
    background-color: white;
    color: var(--Gray-2, #4f4f4f);
    font-size: 17px;
    align-items: center;
    justify-content: end;
  }
  #start {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 40px;
    justify-content: start;
    width: 50%;
  }
  #secStart {
    display: flex;
    align-items: center;
    width: 60%;
    margin-right: 10px;
  }

}

@media screen and (max-width: 768px) {
  #headlist {
    display: flex;
    background-color: white;
    color: var(--Gray-2, #4f4f4f);
    font-size: 17px;
    align-items: center;
    justify-content: end;
  }
  #start {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 20px;
    justify-content: start;
    width: 40%;
  }
  #secStart {
    display: flex;
    align-items: right;
    width: 63%;
    /* margin-left: 50px; */
    font-size: 15px;
  }

}

@media screen and (max-width: 600px) {
  #headlist {
    display: block;
    background-color: white;
    color: var(--Gray-2, #4f4f4f);
    font-size: 17px;
    align-items: center;
    justify-content: end;
  }
  #start {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 20px;
    justify-content: center;
    width: 90%;
  }
  #secStart {
    display: flex;
    align-items: right;
    margin-top: 5px;
    width: 100%;
    font-size: 15px;
  }

}
